<h1>Order status update</h1>
<p>Dear {{name}},</p>
<p>We wanted to let you know that your order status has been updated.</p>
<div class="vp-panel">
  <p><strong>Order ID:</strong> {{orderId}}</p>
  <p><strong>New status:</strong> {{status}}</p>
</div>
{{#if (eq status 'shipped')}}
<p>Your order has been shipped! You can track your package using the tracking number in your order details.</p>
{{/if}}
{{#if (eq status 'delivered')}}
<p>Your order has been delivered! We hope you enjoy your purchase.</p>
{{/if}}
<p>If you have any questions about your order, please don't hesitate to contact our customer service team.</p>
